*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: var(--fontf);
  user-select: none;
  zoom: none;
}
html{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body{
  width: 100vw;
  height: 100vh;

}

button{
    -webkit-tap-highlight-color:transparent;
    cursor: pointer;
}
:root{
  /*colors*/
  --main:#ad1ec0;/*ad1ec0*/
  --third-main:#e4acec;
  --second-main:#a440b1;
  --white:white;
  --deepmain:#390c3e;
  /* Palette */
  --gray-10:rgb(253, 253, 253);
  --gray-50:rgb(253, 253, 253);
  --gray-100: #f3f4f6;
  --gray-200: rgb(238, 239, 241);
  --gray-300: #d1d5db;
  --gray-400: #c3c4c7;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-900: #111827;

  /* Semantic variables */
  --bg: var(--gray-900);
  --surface: var(--gray-700);
  --text: #fff;
  --text-secondary: var(--gray-300);
  --border: var(--gray-500);

  /**/
  --b05:2.5px;
  --b1:5px;
  --b2:10px;
  --b3:15px;
  --b4:20px;
  --b5:25px;
  --b6:30px;
  --b7:35px;
  --b8:40px;
  --b9:45px;
  --b10:50px;

  /**/
  --p05:2.5px;
  --p1:5px;
  --p2:10px;
  --p3:15px;
  --p4:20px;
  --p5:25px;
  --p6:30px;
  --p7:35px;
  --p8:40px;
  --p9:45px;
  --p10:50px;

  --m1:5px;
  --m2:10px;
  --m3:15px;
  --m4:20px;
  --m5:25px;
  --m6:30px;
  --m7:35px;
  --m8:40px;
  --m9:45px;
  --m10:50px;


  --fs1:5px;
  --fs2:10px;
  --fs3:15px;
  --fs4:20px;
  --fs5:25px;
  --fs6:30px;
  --fs7:35px;
  --fs8:40px;
  --fs9:45px;
  --fs10:50px;

  --allw:100%;
  --allh:100%;
  --halfw:50%;
  --halfh:50%;

  /**/
  --logoborder:5px solid var(--main);

  /**/
  --fontf:"Bitcount Single";

  /**/
  --transparent:transparent;

  /**/
  --searchb:2px solid var(--main);

  /**/
  --ease:all 0.3s ease-in-out;
  /**/
  --main-border:1.6px solid var(--gray-100);
}
.searchiconnav{
  color:var(--gray-300);
}
.icongray{
  color:var(--gray-500);
}
.deepmain{
  color:var(--deepmain);
}
.iconsecondmain{
  color:var(--second-main);
}
.icongray400{
  color:var(--gray-400);
}





.profile-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  background-color: var(--gray-100);
}
.backfromprofile{
  position: absolute;
  top: 50;
  z-index: 1;
  left: 20;
  padding: var(--p1);
  border-radius: var(--b1);
  width: 80px;
}
.backfromprofile button{
  background: transparent;
    border: none;
 cursor: pointer;
}

.card{
  width: 800px;
  height: 90%;
  padding: var(--p1);
  border-radius: var(--b2);
  overflow: scroll;
}
.top{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: var(--p2);
  border-radius: var(--b2);
}
.top .signout{
  margin-left: auto;
}
.signout button{
  padding: var(--p2);
  border: none;
  border-radius: var(--b1);
  background-color: var(--second-main);
  color: var(--white);
  cursor: pointer;
}

.top .profilecon{
  border:2px solid var(--second-main);
  padding: 3px;
  width: 60px;
  height: 60px;
  border-radius: var(--halfh);
  overflow: hidden;
  display: grid;
  place-items: center;
  background-position: center;
  background-size: cover;
}
.profile{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--halfh);
  cursor: pointer;
}

.top .email{
  margin-left: var(--m5);
  color: var(--gray-500);
}














.middle{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.Account{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--m2);
      border-radius: var(--b2);
    background-color: white;
    padding: var(--p2);
    margin: var(--m2);
}
.middle h2{
  font-weight: 400;
  text-align: left;
  width: 100%;
}
.Account div{
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px dotted var(--gray-300);

}
.Account div h6{
  font-weight: 500;
}
.Account div button{
  width: 200px;
  margin-left: var(--m2);
  padding: var(--p1);
  border: 1px solid var(--gray-300);
  background-color: transparent;
  border-radius: var(--b1);
  cursor: pointer;
  color: var(--second-main);

}


.Privacy{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--m2);
      border-radius: var(--b2);
    background-color: white;
    padding: var(--p2);
    margin: var(--m2);
}

.Privacy div h6{
  font-weight: 500;
}
.Privacy div button{
  width: 200px;
  margin-left: var(--m2);
  padding: var(--p1);
  border: 1px solid var(--gray-300);
  background-color: transparent;
  border-radius: var(--b1);
  cursor: pointer;
  color: var(--second-main);
  min-width: 200px;
  

}


.Privacy div{ 
   width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px dotted var(--gray-300);
}

.delete-account{
  width: 100%;
  margin-top: var(--m3);
  height: 30px;
  display: flex;
  justify-content: center;
  height: 50px;

}

.delete-account button{
  width: 80%;
  height: 50px;
  border: none;
  color: white;
  background-color: var(--deepmain);
  border-radius: var(--b1);

}
.delete-account span{
  margin: var(--m3);

}







/*UPDATE EMAIL*/

.email-update-popup{
  height: 100%;
  background-color: rgb(0,0,0,0.45);
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  display: grid;
  place-items: center;
  display: none;
}
.email-update{
  width: 300px;
  height: 330px;
  background-color: white;
  overflow: scroll;
  border-radius: var(--b2);
  padding: var(--p2);
}

.top-email-update{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--second-main);
}
/*close*/
.top-email-update button{
  border: none;
  background: transparent;
  scale: 1.5;
  cursor: pointer;
}
#inf1{
  color: var(--gray-300);
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin-top: var(--m1);
}
.email-update-inputs{
  padding: var(--p1);
}
.email-update-inputs label{
  font-size: 15px;
}

.present-email{
  width: 100%;
  background-color: var(--gray-200);
  height: 40px;
  padding: var(--p1);
  border: 1px solid var(--gray-300);
  border-radius: var(--b2);
  margin: var(--m1);
  margin-top: var(--m1);

}
.email-update-inputs input{
  background: transparent;
  border: none;
  height: 100%;
  max-width: 100%;
}

.new-email{
  width: 100%;
  background-color: var(--gray-200);
  height: 40px;
  padding: var(--p1);
  border: 1px solid var(--gray-300);
  border-radius: var(--b2);
  margin: var(--m1);
  margin-top: var(--m1);

}


.email-update-error{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.update-email-btn{
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--second-main);
  color: white;
  border-radius: var(--b1);
  cursor: pointer;
}
























/*UPDATE EMAIL*/

.password-update-popup{
  height: 100%;
  background-color: rgb(0,0,0,0.45);
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  display: grid;
  place-items: center;
  display: none;
}
.password-update{
  width: 300px;
  height: 330px;
  background-color: white;
  overflow: scroll;
  border-radius: var(--b2);
  padding: var(--p2);
}

.top-password-update{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--second-main);
}
/*close*/
.top-password-update button{
  border: none;
  background: transparent;
  scale: 1.5;
  cursor: pointer;
}
#inf1{
  color: var(--gray-300);
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin-top: var(--m1);
}
.password-update-inputs{
  padding: var(--p1);
}
.password-update-inputs label{
  font-size: 15px;
}

.present-password{
  width: 100%;
  background-color: var(--gray-200);
  height: 40px;
  padding: var(--p1);
  border: 1px solid var(--gray-300);
  border-radius: var(--b2);
  margin: var(--m1);
  margin-top: var(--m1);

}
.password-update-inputs input{
  background: transparent;
  border: none;
  height: 100%;
  max-width: 100%;
}

.new-password{
  width: 100%;
  background-color: var(--gray-200);
  height: 40px;
  padding: var(--p1);
  border: 1px solid var(--gray-300);
  border-radius: var(--b2);
  margin: var(--m1);
  margin-top: var(--m1);

}


.password-update-error{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.update-password-btn{
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--second-main);
  color: white;
  border-radius: var(--b1);
  cursor: pointer;
}






/*PROFILE CHANGE*/


.profile-update-popup{
  height: 100%;
  background-color: rgb(0,0,0,0.45);
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  display: grid;
  place-items: center;
  display: none;
  
}
.profile-update{
  width: 300px;
  height: 330px;
  background-color: white;
  overflow: scroll;
  border-radius: var(--b2);
  padding: var(--p2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-display-con{
  width: 180px;
  height: 180px;
  border-radius: var(--halfh);
  border: 2px solid var(--second-main);
  padding: 2px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.profile-display-con span{
  position: absolute;
  scale: 3;

  transform: translate(50px,10px);
  rotate: -20deg;

}

.profile-display{
  width:100%;
  height: 100%;
  border-radius: var(--halfh);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.profile-input{
  opacity: 0;
  width: 180px;
  height:180px;
    cursor: pointer;

}
.change-profile-btn{
  width: 80%;
  height: 30px;
  color: white;
  background-color:var(--second-main);
  margin: var(--m5);
  border: 2px solid var(--second-main);
  border-radius: var(--b1);
  cursor: pointer;
} 

.close-profile-update{
  scale: 1.5;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}












.delete-account-popup{
  height: 100%;
  background-color: rgb(0,0,0,0.45);
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  display: grid;
  place-items: center;
  backdrop-filter:blur(10px);
  display: none;
}
.delete-account-popup form{
  width: 350px;
  height: 200px;
  background-color: white;
  overflow: scroll;
  border-radius: var(--b2);
  padding: var(--p2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-account-popup form p{

  text-align: center;
}

.close-delete{
   background: transparent;
   border: none;
   scale: 1.5;
   margin-left: auto;
}
.why-label{
  color: var(--gray-500);
}
.delete-account-popup form input{
  margin: var(--m2);
  width: 80%;
  padding: p1;
  height: 40px;
  border: 2px solid var(--gray-200);
  border-radius: var(--b1);
}

.delete-account-popup form input:focus{
  outline: 2px solid red;

}
.validate-deletion-btn{
  width: 80%;
  background-color: red;
  color: white;
  border-radius: var(--b1);
  border: none;
  height: 30px;
  cursor: pointer;
}