*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: var(--fontf);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

}
body{
  width: 100dvw;
  height: 100dvh;
  

}
a:active{
  color: var(--second-main);
}
a{
  text-decoration: none;
}
:root{
  /*colors*/
  --main:#ad1ec0;/*ad1ec0*/
  --third-main:#e4acec;
  --second-main:#a440b1;
  --white:white;
  --deepmain:#390c3e;
  /* Palette */
  --gray-100: #f3f4f6;
  --gray-200: rgb(238, 239, 241);
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-900: #111827;

  /* Semantic variables */
  --bg: var(--gray-900);
  --surface: var(--gray-700);
  --text: #fff;
  --text-secondary: var(--gray-300);
  --border: var(--gray-500);

  /**/
  --b05:2.5px;
  --b1:5px;
  --b2:10px;
  --b3:15px;
  --b4:20px;
  --b5:25px;
  --b6:30px;
  --b7:35px;
  --b8:40px;
  --b9:45px;
  --b10:50px;

  /**/
  --p05:2.5px;
  --p1:5px;
  --p2:10px;
  --p3:15px;
  --p4:20px;
  --p5:25px;
  --p6:30px;
  --p7:35px;
  --p8:40px;
  --p9:45px;
  --p10:50px;

  --m1:5px;
  --m2:10px;
  --m3:15px;
  --m4:20px;
  --m5:25px;
  --m6:30px;
  --m7:35px;
  --m8:40px;
  --m9:45px;
  --m10:50px;


  --fs1:5px;
  --fs2:10px;
  --fs3:15px;
  --fs4:20px;
  --fs5:25px;
  --fs6:30px;
  --fs7:35px;
  --fs8:40px;
  --fs9:45px;
  --fs10:50px;

  --allw:100%;
  --allh:100%;
  --halfw:50%;
  --halfh:50%;

  /**/
  --logoborder:5px solid var(--main);

  /**/
  --fontf:"Bitcount Single";

  /**/
  --transparent:transparent;

  /**/
  --searchb:2px solid var(--main);

  /**/
  --ease:all 0.3s ease-in-out;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:50px;
  width: 100%;
  overflow: hidden;
}
nav button{
  font-family: var(--font);
  border: none;
  margin: 10px;
  
}
nav .navbtns{
  justify-self: center;
  width: 50%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbtns button{
  background:transparent;
 cursor: pointer;
 transition: var(--ease);
 height: 100%;
   border-radius: var(--b1);

}
button:hover{
 scale: 1.2;
}
.logo{
  width:var(--logodiameter);
  margin: 10px;
  aspect-ratio: 1;
  border-radius:50% ;
  background-color: transparent;
  border: var(--logoborder);
}
a .devbtn{
  text-decoration: none;
}
.devbtn{
  background-color: var(--second-main);
  color: white;
  height: 70%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--b1);
  cursor: pointer;
  transition: var(--ease);

}
.devbtn:hover{
  background-color: white;
  color: var(--second-main);
  font-size:large;
}
.logoCon{

  margin: 10px;
  height: 50%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color:transparent;
 cursor: pointer;
  transition: var(--ease);
  width:auto;
}
.logoCon h3{
 color: var(--second-main);
}

.home
{
  display: flex;
  align-items:center ;
  height: 650px;
  width: 100%;
  flex-direction: column;
  justify-content: center;

 backdrop-filter: blur(10px);
}
.home p{
 text-align: center;
 font-size: 20px;
 margin-top: 20px;
}
.home span{
  font-weight: 600;
  font-size: 30px;
}
.home header{
  color: var(--second-main);
  margin: 0;
  font-size: 50px;
  
}
#inf1{
  width: 100%;
  text-align: center;
  text-justify: center;
  color: var(--gray-400);
  margin-top: var(--m2);
}
.home .homebtns{
  margin-top: 10px;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
.homebtns button{
  border: none;
  width:150px;
 padding: 10px;
 margin: 10px;
 border-radius: var(--b1);
 color: white;
 background-color: var(--second-main);
 font-family: var(--font);
 transition: var(--ease);
 cursor: pointer;
}
.homebtns button:hover{
  background-color: white;
  color: var(--second-main);
}


.try{
  height: auto;
  width:100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-content: center;
  gap: 2px;
  row-gap: 2px;
  margin-top: var(--m5);
}

.welcome-tap-btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-tab{
  color: var(--second-main);
  height: 50px;
  height: 80px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--p2);
  border-bottom: 5px solid var(--second-main);
}
.home-copy-util{
  padding: var(--p5);
  background-color: var(--second-main);
  color: white;
  border: none;
  border-radius: var(--b5);
  transition: var(--ease);
}
.home-copy-util:hover{
  scale: 1.05;
}
.more-btn{
  width: 100%;
  height: 50px;
  border: 3px solid var(--second-main);
  background: transparent;
  color: var(--second-main);
  margin-top: var(--m5);
  transition: var(--ease);
}
.more-btn:hover{
  background-color: var(--second-main);
  color: white;
  scale: 1;
}





.motioncard{
    aspect-ratio: 1;
  background-color: white;
  cursor: pointer;
  transition: var(--ease);
  border:1px solid var(--gray-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--p1);
  outline: none;
}
.motioncard:hover{
  scale: 1.1;
  box-shadow: 0px 1px 10px var(--gray-300);
  border-radius: 10px;
}
.copybtn{
  background-color: transparent;
  border: none;
  color: black;
  width: 30px;
  aspect-ratio: 1;
}