*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: var(--fontf);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

}
body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
a:active{
  color: var(--second-main);
}
:root{
  /*colors*/
  --main:#ad1ec0;/*ad1ec0*/
  --third-main:#e4acec;
  --second-main:#a440b1;
  --white:white;
  --default-color:#a440b1;
  --deepmain:#390c3e;
  /* Palette */
  --gray-100: #f3f4f6;
  --gray-200: rgb(238, 239, 241);
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-900: #111827;

  /* Semantic variables */
  --bg: var(--gray-900);
  --surface: var(--gray-700);
  --text: #fff;
  --text-secondary: var(--gray-300);
  --border: var(--gray-500);

  /**/
  --b05:2.5px;
  --b1:5px;
  --b2:10px;
  --b3:15px;
  --b4:20px;
  --b5:25px;
  --b6:30px;
  --b7:35px;
  --b8:40px;
  --b9:45px;
  --b10:50px;

  /**/
  --p05:2.5px;
  --p1:5px;
  --p2:10px;
  --p3:15px;
  --p4:20px;
  --p5:25px;
  --p6:30px;
  --p7:35px;
  --p8:40px;
  --p9:45px;
  --p10:50px;

  --m1:5px;
  --m2:10px;
  --m3:15px;
  --m4:20px;
  --m5:25px;
  --m6:30px;
  --m7:35px;
  --m8:40px;
  --m9:45px;
  --m10:50px;


  --fs1:5px;
  --fs2:10px;
  --fs3:15px;
  --fs4:20px;
  --fs5:25px;
  --fs6:30px;
  --fs7:35px;
  --fs8:40px;
  --fs9:45px;
  --fs10:50px;

  --allw:100%;
  --allh:100%;
  --halfw:50%;
  --halfh:50%;

  /**/
  --logoborder:5px solid var(--main);

  /**/
  --fontf:"Bitcount Single";

  /**/
  --transparent:transparent;

  /**/
  --searchb:2px solid var(--main);

  /**/
  --ease:all 0.3s ease-in-out;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--p2);
}
nav h5{
  font-size: 40px;
  font-weight: 400;
}
main{
  width: 100%;
  height: 100%;
  padding: var(--p5);
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  color:black;
}
p{
  width: 350px;
}